.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        test
      .chat-main__group-info__left-box__member-list
        Member:
        .chat-main__group-info__left-box__member-list__member
          bb
    .chat-main__group-info__right-box
      = link_to "#", class: "chat-main__group-info__right-box__edit-btn" do
        Edit    
  .chat-main__message-list
    .message-box
      .message-box__name
        bb
      .message-box__time
        2020/05/07(Tue) 00:15:07
      .message-text
        今晩は
  .chat-main__message-form
    .form-message-box
      .form-message-box__text
        .form-message-box__text__left
          type a message
        %label{class: "form-message-box__text__image-btn"}
          = icon('fas', 'image')
          %input{type: "file"}
      .form-message-box__send
        Send
      
  