.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        bb
      .top-items__icons
        = link_to "#", class: "top-items__icons__btn--edit" do
          = icon('far', 'edit', class: "icons__btn--icon")
          
        = link_to "#", class: "top-items__icons__btn--cog" do
          = icon('fas', 'cog', class: "icons__btn--icon")
  .side-bar__groups-list
    .group
      %p.group__name
        gourp1
      %p.group__message
        message
    .group
      %p.group__name
        group2
      %p.group__message
        message


  