* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;

  

    .side-bar {
      height: 100vh;
      width: 300px;
      background-color: #253141;
      &__user-name{
        height: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        .top-items{
          height: 20px;
          width: 260px;
          display: flex;
          justify-content: space-between;
        &__name{
          width: calc(100% - 60px);
          line-height: 20px;
          font-size: 16px;
          @include font
        }
        &__icons{
          width: 60px;
          display: flex;
            justify-content: flex-end;
            &__btn--edit{
              color: #ffffff;
              
            }
            &__btn--cog{
              color: #ffffff;
              margin-left: 5px;
            
            }
        }
        }
      }
      &__groups-list{
        background-color: #2f3e51;
        height: calc(100% - 100px);
        padding: 20px 20px 0;
        overflow: scroll;
        .group{
          width: 260px;
          height: 45px;
          margin-bottom:40px;
          
          .group__name{
            margin-bottom: 5px;
            font-size: 15px;
            @include font
          }
          .group__message{
            font-size: 11px;
            @include font
          }
        }
      }
    }
    
    .chat-main {
      height: 100vh;
      width: calc(100vw - 300px);
      
      background-color:#ffffff;
      &__group-info{
        height: 100px;
        border-bottom: 1px solid #eeeeee;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        &__right-box{ 
          width: 72px;
          height: 100%;  
          display: flex;
          &__edit-btn{
            height: 40px;
            width: 72px;
            color: #38aef0;
            font-size: 16px;
            margin-top: 28px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
            text-decoration: none;
          }  
        }
      
        
        &__left-box{
          height: 99px;
          width: 85px;
          padding-top: 35px;
          &__current-group{
            color: #333333;
            font-size: 20px;
            
          }
          &__member-list{
            color: #999999;
            font-size: 12px;
            height: 14px;
            line-height: 12px;
            margin-top: 15px;
            display: flex;
            &__member{
              font-size: 12px;
            
            }
          }
        }
      }

      

      &__message-list{
        height: calc(100% - 100px - 90px);
        background-color: #fafafa;
        padding: 35px 0 0 40px;
        display: flex;
        .message-box{
          width: 100%;
          height: 38;
          display: flex;
          flex-direction: column;
          margin-bottom: 46px;
          &__name{
            font-size: 16px;
            color: #333333;
            font-weight: bold;
            display: flex;
          }
          &__time{
            font-size: 12px;
            color: #999999;
          }
          .message-text{
            font-size: 14px;
            color: #434A54;
            margin-top: 12px;
          }
        }
      }
    }
      
      .form{
        padding-bottom: 0 ;
        background-color: #d2d2d2;
        height: 90px;
        width: calc(100vw - 300px);
        // padding: 20px 40px;
        position: relative;
        display: flex;
        &__message{
          height: 50px;
          width: calc(100% - 235px);
          background-color:#fafafa;
          line-height: 50px;
          position: absolute;
          top: 20px;
          bottom: 20px;
          right: 195px;
        }
        &__mask{
          background-color: #fafafa;
          height: 50px;
          width: 40px;
          position: absolute;
          top: 20px;
          bottom: 20px;
          right: 155px;
          &__image{
            color: #333333;
            text-align: center;
            // line-height: 50px;
            height: 30px;
            width: 40px;
            font-size: 30px;
            .hiden{
              display: none;
            }
          }    
        }
        &__submit{
          width: 100px;
          height: 50px;
          position: absolute;
          top: 20px;
          bottom: 20px;
          right: 40px;
          text-align: center;
          font-size: 15px;
          line-height: 50px;
          background-color: #38aef0;
          color: #ffffff;
        }  
      }
    }
  